/*  your css code here. If applicable */
body{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height:100vh;
	width:100vw;
	margin:0px;
	padding:0px 20px 0px 20px ;
	background-color:rgb(250, 250, 250);
}
.cards-wrapper{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	grid-template-rows:1;
	gap:20px;
}
h1{
	font-size:36px;
}
p{
	font-size:18px;
}
.card{
	display:flex;
	flex-direction:column;
	background-color:#fafafa;
	border:10px solid #ccc;
	padding:10px;
}
.date{
	align-self:end;
}
